[submodule "mycrops-rest-api"]
	path = mycrops-rest-api
	url = https://github.com/gbgama/mycrops-rest-api
[submodule "mycrops-web"]
	path = mycrops-web
	url = https://github.com/gbgama/mycrops-web
[submodule "mycrops-arduino-hub"]
	path = mycrops-arduino-hub
	url = https://github.com/gbgama/mycrops-arduino-hub
[submodule "mycrops-mobile"]
	path = mycrops-mobile
	url = https://github.com/gbgama/mycrops-mobile
